* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  max-width: 1280px;
  font-family: "Montserrat", sans-serif;
  color: #373737;
  margin: 0 auto;
}

.header {
  /* background-image: url(../image/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 789px; */
  margin-bottom: 48px;
}

.list {
  text-align: center;
  padding: 25px 0;
}

.item {
  display: inline;
}

.item:not(:last-child) {
  margin-right: 70px;
}

.link {
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ff0000;
}

.picture {
  display: block;
  width: 100%;
  height: auto;
}

.title {
  text-align: center;
  margin-bottom: 38px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.23;
  letter-spacing: 3.3px;
  text-transform: uppercase;
}

.text {
  margin-bottom: 30px;
  padding: 0 67px;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 2.4px;
}

.link-btn {
  display: block;
  margin: 0 auto 82px;
  width: 191px;
  height: 50px;
  padding: 17px 23px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  background-color: #ff0000;
  font-weight: 700;
  font-size: 12px;
  /* line-height: 1; */
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.footer-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 2.4px;
  margin-left: 713px;
  margin-bottom: 29px;
}
